USE [master]
GO
/****** Object:  Database [BarberShopDB]    Script Date: 17.12.2025 16:24:07 ******/
CREATE DATABASE [BarberShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarberShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BarberShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarberShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BarberShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarberShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarberShopDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[DesiredDateTime] [datetime] NULL,
	[Quantity] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NULL,
	[WorkSchedule] [nvarchar](100) NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmplSpecializ]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmplSpecializ](
	[EmployeeID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[cxcdc] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductType] [nvarchar](50) NULL,
	[Brand] [nvarchar](100) NULL,
	[QuantityInStock] [int] NULL,
	[ReorderLevel] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[LastRestocked] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseHistory]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHistory](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[AppointmentDateTime] [datetime] NULL,
	[ActualPrice] [decimal](10, 2) NOT NULL,
	[PurchaseDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](1000) NULL,
	[ReviewDate] [datetime] NULL,
	[IsPublished] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[ServiceTypeID] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.12.2025 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[RegistrationDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [UserID], [Specialization], [HireDate], [Salary], [WorkSchedule], [IsAvailable]) VALUES (1, 5, N'Парикмахер-универсал', CAST(N'2023-01-15' AS Date), CAST(45000.00 AS Decimal(10, 2)), N'Пн-Пт, 9:00-18:00', 1)
INSERT [dbo].[Employees] ([EmployeeID], [UserID], [Specialization], [HireDate], [Salary], [WorkSchedule], [IsAvailable]) VALUES (2, 1, N'Администратор', CAST(N'2022-03-10' AS Date), CAST(55000.00 AS Decimal(10, 2)), N'Пн-Сб, 10:00-19:00', 1)
INSERT [dbo].[Employees] ([EmployeeID], [UserID], [Specialization], [HireDate], [Salary], [WorkSchedule], [IsAvailable]) VALUES (3, 4, N'Стилист-колорист', CAST(N'2023-06-20' AS Date), CAST(60000.00 AS Decimal(10, 2)), N'Вт-Сб, 11:00-20:00', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
INSERT [dbo].[EmplSpecializ] ([EmployeeID], [ServiceID], [cxcdc]) VALUES (1, 1, N'sdfv      ')
INSERT [dbo].[EmplSpecializ] ([EmployeeID], [ServiceID], [cxcdc]) VALUES (1, 2, N'dsf       ')
INSERT [dbo].[EmplSpecializ] ([EmployeeID], [ServiceID], [cxcdc]) VALUES (1, 6, N'sdf       ')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Brand], [QuantityInStock], [ReorderLevel], [UnitPrice], [LastRestocked]) VALUES (1, N'Краска для волос', N'Краска', N'Loreal', 25, 10, CAST(850.00 AS Decimal(10, 2)), CAST(N'2024-01-10' AS Date))
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Brand], [QuantityInStock], [ReorderLevel], [UnitPrice], [LastRestocked]) VALUES (2, N'Лак для ногтей', N'Лак', N'OPI', 50, 20, CAST(650.00 AS Decimal(10, 2)), CAST(N'2024-01-05' AS Date))
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Brand], [QuantityInStock], [ReorderLevel], [UnitPrice], [LastRestocked]) VALUES (3, N'Гель для укладки', N'Гель', N'Schwarzkopf', 30, 15, CAST(450.00 AS Decimal(10, 2)), CAST(N'2024-01-12' AS Date))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (1, N'Новогодняя скидка', N'Скидка на все услуги в январе', CAST(15.00 AS Decimal(5, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-01-31' AS Date), 1)
INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (2, N'День рождения', N'Скидка именинникам', CAST(20.00 AS Decimal(5, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), 1)
INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (3, N'Первое посещ', N'Скидка новым клиентам', CAST(10.00 AS Decimal(5, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseHistory] ON 

INSERT [dbo].[PurchaseHistory] ([PurchaseID], [UserID], [ServiceID], [EmployeeID], [AppointmentDateTime], [ActualPrice], [PurchaseDate], [PaymentMethod], [PaymentStatus]) VALUES (2, 1, 2, NULL, CAST(N'2025-12-17T15:48:34.653' AS DateTime), CAST(2500.00 AS Decimal(10, 2)), CAST(N'2025-12-17T15:48:34.653' AS DateTime), N'Не указан', N'Создан')
INSERT [dbo].[PurchaseHistory] ([PurchaseID], [UserID], [ServiceID], [EmployeeID], [AppointmentDateTime], [ActualPrice], [PurchaseDate], [PaymentMethod], [PaymentStatus]) VALUES (3, 1, 4, NULL, CAST(N'2025-12-17T15:48:34.667' AS DateTime), CAST(2000.00 AS Decimal(10, 2)), CAST(N'2025-12-17T15:48:34.667' AS DateTime), N'Не указан', N'Создан')
INSERT [dbo].[PurchaseHistory] ([PurchaseID], [UserID], [ServiceID], [EmployeeID], [AppointmentDateTime], [ActualPrice], [PurchaseDate], [PaymentMethod], [PaymentStatus]) VALUES (4, 2, 3, NULL, CAST(N'2025-12-17T16:02:45.097' AS DateTime), CAST(3500.00 AS Decimal(10, 2)), CAST(N'2025-12-17T16:02:45.097' AS DateTime), N'Не указан', N'Создан')
SET IDENTITY_INSERT [dbo].[PurchaseHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceTypeID], [Description], [Duration], [Price], [IsActive]) VALUES (1, N'Мужская стрижка', 1, N'Классическая мужская стрижка с мытьем головы', 600, CAST(1500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceTypeID], [Description], [Duration], [Price], [IsActive]) VALUES (2, N'Женская стрижка', 1, N'Стрижка и укладка для женщин', 90, CAST(2500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceTypeID], [Description], [Duration], [Price], [IsActive]) VALUES (3, N'Окрашивание волос', 2, N'Полное окрашивание волос', 120, CAST(3500.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ServiceTypeID], [TypeName], [Description]) VALUES (1, N'Стрижка', N'Все виды стрижек волос')
INSERT [dbo].[ServiceTypes] ([ServiceTypeID], [TypeName], [Description]) VALUES (2, N'Окрашивание', N'Окрашивание и мелирование')
INSERT [dbo].[ServiceTypes] ([ServiceTypeID], [TypeName], [Description]) VALUES (3, N'Укладка', N'Укладки и прически')
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Администратор', N'Полный доступ ко всем функциям системы')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Клиент', N'Зарегистрированный клиент парикмахерской')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Менеджер', N'Сотрудник, оказывающий услуги')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [RoleID], [RegistrationDate], [IsActive]) VALUES (1, N'Иван', N'Иванов', N'+79161234567', N'ivanov@mail.ru', N'hashed_password_1', 1, CAST(N'2025-12-16T15:29:53.377' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [RoleID], [RegistrationDate], [IsActive]) VALUES (2, N'Мари', N'Петрова', N'+79162345678', N'petrova@mail.ru', N'hashed_password_2', 2, CAST(N'2025-12-16T15:29:53.377' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [RoleID], [RegistrationDate], [IsActive]) VALUES (3, N'Алексей', N'Сидоров', N'+79163456789', N'sidorov@mail.ru', N'hashed_password_3', 2, CAST(N'2025-12-16T15:29:53.377' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Appointments_ClientID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_ClientID] ON [dbo].[Appointments]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_DateTime]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DateTime] ON [dbo].[Appointments]
(
	[AppointmentDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_EmployeeID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_EmployeeID] ON [dbo].[Appointments]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_UserID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Cart_UserID] ON [dbo].[Cart]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__1788CCADCCBDFA05]    Script Date: 17.12.2025 16:24:08 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseHistory_UserID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseHistory_UserID] ON [dbo].[PurchaseHistory]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_ServiceTypeID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Services_ServiceTypeID] ON [dbo].[Services]
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ServiceT__D4E7DFA87BA650B2]    Script Date: 17.12.2025 16:24:08 ******/
ALTER TABLE [dbo].[ServiceTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__8A2B6160A8C8B704]    Script Date: 17.12.2025 16:24:08 ******/
ALTER TABLE [dbo].[UserRoles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E389698C4EA]    Script Date: 17.12.2025 16:24:08 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345CAAA1D1]    Script Date: 17.12.2025 16:24:08 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleID]    Script Date: 17.12.2025 16:24:08 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [QuantityInStock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PurchaseHistory] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[PurchaseHistory] ADD  DEFAULT ('Paid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmplSpecializ]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmplSpecializ]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
